<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="E-Commerce Application">
<listeners>
<listener class-name="com.ECommerce.QA.listeners.MyListeners"></listener>
</listeners>
  <test  name="E-Commerce Test Cases">
    <classes>
    <class name="com.ECommerce.TestCases.RegisterTest"/>
      <class name="com.ECommerce.TestCases.LoginTest"/>
      <class name="com.ECommerce.TestCases.SearchTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
